/*
Sign in: Go to Google Cloud Console and sign in with your Google account.

Create a new Project:
Click "Select a project" and then "New Project".
Give it a name and create the project.

Enable Google Drive API:
In the left sidebar, go to "APIs & Services" > "Dashboard".
Click "Enable APIs and Services".
Search for "Google Drive API" and enable it for your project.

Create Credentials:
In the left sidebar, go to "APIs & Services" > "Credentials".
Click "Create Credentials" > "Service Account".
Fill in details (e.g., name), choose a role (e.g., "Owner"), and create a JSON key.

Remember: Save the JSON key securely! download it and rename it to "credentials.json" .

Remove all the comments in original json file
*/

{
  "type": "service_account",
  "project_id": "your_project_id",
  "private_key_id": "your_private_key_id",
  "private_key": "-----BEGIN PRIVATE KEY-----\xxxx\n-----END PRIVATE KEY-----\n",
  "client_email": "your_client_email",
  "client_id": "your_client_id",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "your_client_certs",
  "universe_domain": "googleapis.com"
}
